.DS_Store
.idea/
.vscode

venv/
env/

*.pyc
*pb2*
*.swp
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.eggs/

.venv/
control_plane/protos/gen_py/

control_plane/controller/starter.sh
control_plane/node-manager/starter.sh

.controller_history