certifi==2020.4.5.1
decorator==4.4.2
fire==0.3.1
grpcio==1.29.0
grpcio-tools==1.29.0
networkx==2.4
protobuf==3.15.0
pyaml==20.4.0
python-arango==5.4.0
python-dotenv==0.13.0
PyYAML==5.3.1
requests-toolbelt==0.9.1
